<div id="sma" class="segment-section">
	<div class="cockpit theme-grm" style="height:100%; width:100%">
		<div class="shifter" id="" style="height:100%; width:100%"> 
			<div class="clearfix ov segment-lists">
				<h1 class="x-title ov wbg title-ov">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 npl nopad">
						<div class="text-center float-l set-text-color">{{smaScreenTitle}}
							<strong *ngIf="selectedDashboard !== ''" class="sub-title">{{selectedDashboard}}</strong>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ov nopad">
						<div class="text-center float-r">
							<button type="submit" class="btn btn-primary" (click)="displayDialog();"><span class="btn-new-segment"><i class="fa fa-plus" aria-hidden="true"></i></span> &nbsp;&nbsp;&nbsp;New Segment</button>
						</div>
					</div>
				</h1>
			</div>   
			
			<div class="page-content-wrap segments-page r-pad">
				<div class="container-fluid">
		
					<div class="row">
						<div class="col-lg-12 col-sm-12 segment-lists">
							
								<form name="searchMember" method="post" class="form-in-line input-search" ng-submit="searchQuery(searchQueryObject, null, $event)" autocomplete="off" novalidate>
								
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control" ng-model="searchQueryObject.searchKey" autofocus="autofocus" placeholder="Enter segment name" autocomplete="off" elem-ready />
											<button type="submit" class="input-group-addon" ng-disabled="!searchQueryObject.searchKey"></button>
											<span class="loading-svg" *ngIf="isSearchStarted"></span>
										</div>
									</div>
								</form>
						</div>
						<div>show dialog {{smaScreenTitle}}</div>
						<div *ngFor="let data of segments" class="segment-list-container" >
							<ul class="segment-lists" (click) = "editSegment(data.segmentId)">
								<li class="segment-list-item">
										<div class="segment-section-container section-1">
											<a class="segment-text-container">
												<span class="main-text">{{data.segmentName}}</span>
												<span>Updated: <b class="segment-values">{{data.updated}}</b></span>
											</a>
										</div>
										<div class="segment-section-container section-2">
											<div class="secondary-section">
												<a class="segment-text-container">
							       <span>Count: <b class="segment-values">{{data.count}}</b></span>
							
													<!-- <span>Channel: <b class="segment-values">{{channel}}</b></span> -->
													<span>Created: <b class="segment-values">{{data.created}}</b></span>
												</a>
											</div>
										</div>
										<div class="segment-section-container section-3">
											<div class="img-container" (click)="editSegment(id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
										</div>
									</li>
							</ul>
						
						</div>
					</div><!-- /search bar wrapper -->
				</div> <!-- container -->
			</div>
		</div>
	</div>
</div>
