<div id="sma" class="segment-section">
    <div class="cockpit theme-grm" style="height:100%; width:100%">
      <div class="shifter" id="" style="height:100%; width:100%">
  
        <div class="page-content-wrap segments-page r-pad">
          <div class="container-fluid">
            <div class="row mb0">
              <div class="col-sm-8 col-md-8 col-lg-9 segment-lists buildSegment-vscroll mb0">
                <div class="segment-content-wrap">
                  <div class="text-heading dashed-border-bottom set-text-color" *ngIf="!editMode">
                    <h3>{{segmentName}}</h3>
                    <a href="javascript:void(0);" (click)="changeMode()">
                      <i class="fa fa-pencil-square-o icon-edit-grm-head" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="form-group segment-title-editMode" *ngIf="editMode">
                    <input type="text" maxlength="100" [(ngModel)]="segmentName">
                    <button class="btn btn-grm" (click)="changeMode(segmentName)">OK</button>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt15 pb15 pl0 pr0 targetable-members">
                    <div class="clearfix"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl0">
                      <span class="icon-info-grm">i</span> Targetable Members</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tar pr0">
                      <i class="fa fa-users" aria-hidden="true"></i> {{matchCount}} ({{percentage}}% of total)</div></div>
                   <div class="clearfix mt20"> <select [(ngModel)]="targetingChannel" required>
                      <option *ngFor="let chanel of targetingChannels" [ngValue]="chanel.key">{{chanel.value}}</option>
                    </select></div>
                  </div>
  
                  <div class="text-click-drag" *ngIf="noneSelected">Click elements from the panel on the right</div>
  
                  <!--<div class="rectangle grid-model margin-b pl0" style="background: #F0F0F0;">
                    <div class="form-group no-margin right-margin-10 left-margin-10">
                    </div>
                  </div>-->
                  <div id="page" class="clearfix pb20">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                      <ol class="list-group">
              <li class="list-group-item" *ngFor="let itemArray of items | keyvalue">
                <div  class="ind-segment">
                          <div class="segment-close" (click)="segmentClose(itemArray.key)">
                          <i class="fa fa-times" aria-hidden="true"></i>
                          </div>
                          <div *ngFor="let item of itemArray.value" class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3 list-parent-div" ngModelGroup="{{itemArray.key}}">
  
                          <div [ngSwitch]="item.type">
  
  
                            <input *ngSwitchCase="'textbox'" class="form-control textbox-cls" name="{{item.key}}" [(ngModel)]="item.value" [disabled]="item.disable ? true : false"
                            [hidden]="item.hide ? true : false">
  
                            <input *ngSwitchCase="'datefield'" type="date" class="form-control textbox-cls form-control" name="{{item.key}}" [(ngModel)]="item.value"
                            />
  
                            <select *ngSwitchCase="'dropdown'" name="{{item.key}}" class="form-control dropdown-cls" [(ngModel)]="item.value">
                            <option *ngFor="let opt of item.options"> {{opt.value}} </option>
                            </select>
  
                            <ng-multiselect-dropdown *ngSwitchCase="'multiselect'" name="{{item.key}}" [placeholder]="'Select'" [data]="item.options"
                            [(ngModel)]="item.value" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
  
                          </div>
                          </div>
                        </div></li>
  </ol>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-3 left-bar shadow buildSegment-vscroll2">
                <div class="rectangle">
                  <div class="segment-superparent-{{$index}}" *ngFor="let segmentNavNestedObj of segmentNavPills">
                    <div *ngFor="let segmentNavObj of segmentNavNestedObj| keyvalue">
                      <h2>{{segmentNavObj.key}}</h2>
                      <div *ngFor="let segmentObj of segmentNavObj.value">
                        <div class="" *ngFor="let segmentNestedObj of segmentObj| keyvalue">
                          <h5>{{segmentNestedObj.key}}</h5>
                          <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" *ngFor="let data of segmentNestedObj.value">
                              <a href="javascript:void(0);" (click)="buttonclick(data)">{{data.value}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="btn-grm bt">
                  <button class="btn" type="button" (click)="exportSegment()">EXPORT SEGMENT</button>
                </div>
                <div class="btn-grm save-segment">
                  <button class="btn" type="submit" (click)="saveSegment()">SAVE SEGMENT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>