<div id="sma">
  <div class="cockpit theme-grm" style="height:100%; width:100%">
    <div class="shifter" id="" style="height:100%; width:100%">
      <div class="clearfix ov">
        <h1 class="x-title ov wbg title-ov">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 npl nopad mt5">{{smaScreenTitle}}
            <strong *ngIf="selectedDashboard !== ''" class="sub-title">{{selectedDashboard}}</strong>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ov nopad">
            &nbsp;
          </div>
        </h1>
      </div>

      <div class="page-content-wrap r-pad">
        <div class="container">

          <!-- page pagination and forward/backward section  -->
          <div class="row page-controls">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <a href="javascript:void(0);" class="back-control" (click)="onGoBack()">
                <span class="icon icon-left_arrow"></span> Back to Search Results
              </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              &nbsp;
            </div>
          </div>
          <!-- /page pagination and forward/backward section  -->

          <div class="row nomar_btm">
            <div class="col-lg-12">
              <div class="profile-info">

                <div class="profile-details">

                  <!-- profile info head section -->
                  <div class="head-section bg-white">
                    <div class='text-input__loading--line header' *ngIf="!profilerResponse.fullName"></div>
                    <h4 class="title text-capitalize" *ngIf="profilerResponse.fullName">
                      {{profilerResponse.fullName}}
                      <span class="no-data" *ngIf="profilerResponse.fullName.trim() === '' || profilerResponse.fullName === null">No data</span>
                    </h4>
                    <!-- <div class="control">
                        <ul class="list-inline">
                          <li>
                            <a href="javascript:void(0);">
                              <span class="icon icon-print"></span>
                            </a>
                          </li>
                          <li>
                            <a class="btn btn-primary" href="javascript:void(0);">export</a></li>
                        </ul>
                      </div> -->
                  </div>
                  <!-- /profile info head section -->

                  <!-- profile info body section -->
                  <div class="body-section">
                    <div class="container-fluid">
                      <div class="row" *ngIf="!profilerResponse.fullName">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <dl class="dl-horizontal">
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                          </dl>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <dl class="dl-horizontal">
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                            <dt>
                              <div class='text-input__loading--line'></div>
                            </dt>
                            <dd>
                              <div class='text-input__loading--line'></div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                      <div class="row" *ngIf="profilerResponse.fullName">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <dl class="dl-horizontal" *ngIf="profilerResponse.fullName">
                            <dt>Full Name:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.fullName.trim() === '' || profilerResponse.fullName === null">No data</span>
                              {{profilerResponse.fullName}}
                            </dd>

                            <dt>Email Address:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.emailAddress === '' || profilerResponse.emailAddress === null">No data</span>
                              <span class="data text-lowercase">{{profilerResponse.emailAddress}}</span>
                            </dd>

                            <dt>Mobile Number:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.mobileNumber === '' || profilerResponse.mobileNumber === null">No data</span>
                              {{profilerResponse.mobileNumber}}</dd>

                            <dt>Join Date:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.joinDate === '' || profilerResponse.joinDate === null">No data</span>
                              {{profilerResponse.joinDate}}</dd>

                            <dt>Age in Program:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.ageInProgram === '' || profilerResponse.ageInProgram === null">No data</span>
                              {{profilerResponse.ageInProgram}}</dd>

                            <dt>ZIP Code:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.zip === '' || profilerResponse.zip === null">No data</span>
                              {{profilerResponse.zip}}</dd>

                            <dt>Input Source:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.acquisitionSource === '' || profilerResponse.acquisitionSource === null">No data</span>
                              {{profilerResponse.acquisitionSource}}</dd>
                          </dl>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <dl class="dl-horizontal">
                            <dt>Birthdate:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.birthDate === '' || profilerResponse.birthDate === null">No data</span>
                              {{profilerResponse.birthDate}}</dd>

                            <!-- <dt>Program Name:</dt>
                              <dd>
                                <span class="no-data" *ngIf="profilerResponse.programName === '' || profilerResponse.programName === null">No data</span>
                                {{profilerResponse.programName}}</dd> -->

                            <dt>Email Opt-in:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.emailOptIn === '' || profilerResponse.emailOptIn === null">No data</span>
                              <span class="data" *ngIf="profilerResponse.emailOptIn === true || profilerResponse.emailOptIn === 'Yes'">Yes</span>
                              <span class="data" *ngIf="profilerResponse.emailOptIn === false || profilerResponse.emailOptIn === 'No'">No</span>
                            </dd>

                            <dt>SMS Opt-in:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.smsOptIn === '' || profilerResponse.smsOptIn === null">No data</span>
                              <span class="data" *ngIf="profilerResponse.smsOptIn === true || profilerResponse.smsOptIn === 'Yes'">Yes</span>
                              <span class="data" *ngIf="profilerResponse.smsOptIn === false || profilerResponse.smsOptIn === 'No'">No</span>
                            </dd>

                            <dt>Favorite Store:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.favoriteStore === '' || profilerResponse.favoriteStore === null">No data</span>
                              {{profilerResponse.favoriteStore}}</dd>

                            <dt>Store Address:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.storeAddress === null">No data</span>
                              {{profilerResponse.storeAddress}}
                            </dd>

                            <dt>Store City / State:</dt>
                            <dd>
                              <span class="no-data" *ngIf="profilerResponse.storeCityState === null">No data</span>
                              {{profilerResponse.storeCityState}}
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /profile info body section -->

                </div>
              </div>
            </div>
          </div>
          <!-- collapsible panel wrap -->
          <div class="row nomar_btm">
            <div class="col-lg-12">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default odd">

                  <div class="panel-heading" role="tab" id="headingDemographicInformation">
                    <h4 class="panel-title">
                      <a scroll-to-focus class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" [ngClass]="{'collapsed': headerclick=='demographicInformation' ? '' : headerclick!='demographicInformation'}"  (click)="clickAccordion('demographicInformation')"
                        aria-expanded="false" aria-controls="demographicInformation">
                        Demographic Information
                        <span class="panel-arrow"></span>
                      </a>
                    </h4>
                  </div>

                  <app-memberprofiler-demographic [ngClass]="{ 'in': headerclick === 'demographicInformation'}" class="panel-collapse collapse" *ngIf = "isDemographicInformationClicked"></app-memberprofiler-demographic>

                </div>

                <div class="panel panel-default odd">

                    <div class="panel-heading odd" role="tab" id="headingcampaignSummary">
                        <h4 class="panel-title">
                          <a scroll-to-focus class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  (click)="clickAccordion('campaignSummary')" [ngClass]="{'collapsed': headerclick=='campaignSummary' ? '' : headerclick!='campaignSummary'}"
                            aria-expanded="false" aria-controls="campaignSummary">
                            Campaign Response
                            <span class="panel-arrow"></span>
                          </a>
                        </h4>
                      </div>
                      


                  <app-memberprofiler-campaign [ngClass]="{ 'in': headerclick === 'campaignSummary'}" class="panel-collapse collapse" *ngIf = "isCampaignClicked"></app-memberprofiler-campaign>

                </div>
                <div class="panel panel-default odd">

                    <div class="panel-heading" role="tab" id="headingPromotionActivity">
                        <h4 class="panel-title">
                          <a scroll-to-focus class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" (click)="clickAccordion('PromotionActivity')" [ngClass]="{'collapsed': headerclick=='PromotionActivity' ? '' : headerclick!='PromotionActivity'}"
                            aria-expanded="false" aria-controls="PromotionActivity">
                            Promotion Activity
                            <span class="panel-arrow"></span>
                          </a>
                        </h4>
                      </div>


                  <app-memberprofiler-promotion [ngClass]="{ 'in': headerclick === 'PromotionActivity'}" class="panel-collapse collapse" *ngIf = "isPromotionClicked"></app-memberprofiler-promotion>
                  
                </div>
                
              </div>
            </div>
          </div>
          <!-- /collapsible panel wrap -->

        </div>
        <!-- container -->
      </div>
    </div>
  </div>
</div>