<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">GuestManager</a>
    </div>

    <div class="collapse navbar-collapse" style="height: 80px; padding:0px">
      <ul class="nav navbar-nav">
        <li (click)="onFetchMemberList()"routerLinkActive="active">
          <a routerLink="/MemberProfiler/search">Member Profiler</a>
        </li>
        <li (click)="onFetchSegmentList()" routerLinkActive="active">
          <a routerLink="/SegmentationBuilder">Segmentation Builder</a>
        </li>

      </ul>
    </div>
  </div>
</nav>