<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">GM</a>
    </div>

    <div class="collapse navbar-collapse" style="height: 80px; padding:0px">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/memberprofiler/search">Member Profiler</a></li>
        <li routerLinkActive="active"><a routerLink="/segmentationbuilder/search">Segmentation Builder</a></li>

      </ul>
    </div>
  </div>
</nav>
